////
/// @group Base
////

/// @type Color|Bool
/// @access public
$bodyBackground: $white !default; // false to disable

/// @type String
/// @access public
$baseFont: system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

/// @type Number
/// @access public
$baseFontSize: 1.6rem !default;

/// @type String
/// @access public
$baseFontWeight: normal !default;

/// @type Number
/// @access public
$baseLineHeight: 1.5 !default;

/// @type Color
/// @access public
$baseColor: $darkestGray !default;

/// @type Number
/// @access public
$baseButtonFocusWidth: .25rem !default;

/// @type Number
/// @access public
$baseButtonFocusColorOpacity: .25 !default;

/// @type Color
/// @access public
$baseButtonFocusColor: rgba($primary, $baseButtonFocusColorOpacity) !default;

/// @type Number
/// @access public
$baseButtonFocusBlur: 0 !default;

/// @type List
/// @access public
$baseButtonFocusBoxShadow: 0 0 $baseButtonFocusBlur $baseButtonFocusWidth $baseButtonFocusColor !default;

/// @type Color
/// @access public
$boxShadowInset: inset 0 1px 2px rgba($black, .075) !default;

// Characters which are escaped by the escape-svg function
$escapedCharacters: (
  ('<', '%3c'),
  ('>', '%3e'),
  ('#', '%23'),
  ('(', '%28'),
  (')', '%29'),
) !default;
