.label {
    display: block;
    font-weight: $labelFontWeight;
    font-size: $labelFontSize;
    font-style: $labelFontStyle;
    line-height: $labelLineHeight;
    margin-bottom: $labelMarginBottom;
    margin-right: $labelMarginRight;
  }
